* {
  background-color: white;
  /* display: flex; */
}

.Login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: white;
  flex-direction: row;
}

.idBox,
.pwBox {
  /* background-color: white; */
  margin: 0.5rem;
  box-shadow: 0 0.3em 0.6em 0 rgba(0, 0, 0, 0.25);
  border-radius: 50px 5px 5px 5px;
  animation: blink 1s;
  display: flex;
}

/* .idBox {
    display: none;
} */

.left {
  padding: 60px;
  margin: auto;
  overflow: hidden;
  position: relative;
  min-width: 380px;
  /* width: calc(100vw - var(60px)* 2); */
  /* width: 380px; */
  /* width:20vw; */
  max-width: calc(var(360px) + var(60px) * 2);
  -webkit-text-size-adjust: none;
}
.center {
  text-align: center;
  align-items: center;
}
.QRcode {
  text-align: center;
  align-items: center;
  background-color: 1px solid gray;
}

.username-block {
  margin-top: 20px;
  display: flex;
  visibility: hidden;
  padding: 0.5rem 0;
  justify-content: center;
}

.input {
  width: 100%;
  height: 40px;
  color: gray;
  /* border: 1px solid B6BACB; */
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.5rem 0.6rem;
  position: relative;
  animation: 0.5s linear 1s infinite alternate slidein;
  z-index: 6;
}

.input:hover {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.btn-a {
  font-size: 16px;
  height: 40px;
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  width: 100%;
  /* padding: 32px 0; */
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cat::before {
  display: block;
  display: block;
  position: absolute;
  bottom: 200px;
  right: 70px;
  width: 90px;
  height: 99px;
  background-image: url("https://arca.live/static/assets/dist/karisuma_light.svg?t=721d65b87c04a2824dec85ce4389abbda8b16a18");
  content: "";
  background-size: cover;
  z-index: 5;
}

.blurry {
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
  /* border-top: 300px; */
  color: gray;
  /* justify-content: space-between; */
}

.Purple {
  /* margin-top: 30px; */
  padding-top: 15px;
  padding-bottom: 15px;
  color: blueviolet;
}

.Purple:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.right {
  /* display: flex; */
  /* min-width: none; */
  margin-top: 7rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.pwBox {
  display: block;
  /* display: none; */
  flex-wrap: wrap;
}

.box {
  margin: 60px;
}

.btn-a:hover {
  background-color: indigo;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  1000% {
    opacity: 1;
  }
}

@keyframes vibe {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
/* animation: .5s linear 1s infinite alternate slidein; */

/* 모든기기공통 CSS */
/* .left{ background-color: white; } */

/* desktop 규격
@media screen and (min-width: 1024px){
    body{ background-color: lightblue; }
} */

/* tablet 규격 */
/* @media screen and (max-width: 900px){
    span{ clip-path: polygon(100px 0px, 200px 200px, 0 200px); 
            display: grid;}
} */

/* @media screen and (max-width: 900px){
    span{ impo}
} */

/* @import url(import.css) screen and (min-width: 152px) and(max-width: 900px); */
