#container .body {
  display: flex;
  min-height: 61rem;
}

#container .body .bodyCenter {
  display: flex;
  width: 1200px;
}

#container .body .left_adBar,
#container .body .rightEndBlock {
  flex: 1;
  display: flex;
  justify-content: right;
}

#container .body .left_adBar .left_ad {
  width: 160px;
  height: 600px;
  margin: 1rem;
}

#container .body .bodyCenter .bodyContent {
  flex: 1;
  height: 100%;
  background-color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

#container .body .bodyCenter .bodyContent .channelInfoBox {
  display: flex;
  /* min-height: 4rem; */
  border-bottom: 1px solid #bbb;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelImg {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  margin-right: 0.5rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelImg a {
  display: inline-block;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelImg a img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 100%;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo {
  flex: 1;
  margin: 1rem;
  margin-left: 0.5rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons,
#container .body .bodyCenter .bodyContent form .quickButtonsLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine {
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons {
  padding-top: 0.5rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelPath {
  text-align: left;
  font-size: 1.3rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelPath a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelPath a:hover {
  text-decoration: underline;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons {
  display: flex;
  justify-content: right;
  column-gap: 0.5rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons a,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons a,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons a {
  height: max-content;
  text-decoration: none;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons button {
  display: flex;
  height: 2rem;
  padding: 0.35rem;
  align-items: center;
  background-color: white;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  border: 1px solid #bbb;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 1s, outline 0.3s;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button:focus {
  outline: 0.15rem solid rgba(100, 200, 250, 0.7);
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button .imgIcon,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button .imgIcon,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons button .imgIcon {
  /* display: inline-block; */
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription {
  font-size: 0.9rem;
  color: #777;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo {
  display: flex;
  padding: 0.3rem 0;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .baseInfoBox {
  border-right: 1px solid black;

  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .baseInfoBox:last-of-type {
  border-right: 0;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .channelAdmin a {
  text-decoration: none;
  color: #777;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .channelAdmin a:hover {
  text-decoration: underline;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .channelAdmin {
  display: flex;
  align-items: center;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .baseInfoBox .imgIcon {
  min-width: 0.8rem;
  min-height: 0.8rem;
  padding: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #eb6111;
  border-radius: 100%;
}

#container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelDescription .channelBaseInfo .baseInfoBox .imgIcon img {
  /* filter: brightness(0); */
  /* color: white; */
  filter: invert(1);
}

#container .body .bodyCenter .bodyContent .boardTableListBox {
  padding: 0.5rem 1rem;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons {
  display: flex;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button:hover,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons button:hover,
#container .body .bodyCenter .bodyContent form .searchLine_bottom .searchButton:hover {
  background-color: #bbb;

}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons .redBackground {
  color: white;
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons a .redBackground:hover {
  background-color: #be0419;

}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button .recommendedBoardIcon {
  filter: invert(1);
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons button {
  width: 4.5rem;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons select,
#container .body .bodyCenter .bodyContent form .searchLine_bottom select {
  width: 4.5rem;
  height: 2rem;
  padding: 0.35rem;
  padding-right: 1.4rem;
  font-size: 0.8rem;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
  appearance: none;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16"><path fill="black" fill-rule="evenodd" d="M12.2929,5.292875 C12.6834,4.902375 13.3166,4.902375 13.7071,5.292875 C14.0976,5.683375 14.0976,6.316555 13.7071,6.707085 L8.70711,11.707085 C8.31658,12.097605 7.68342,12.097605 7.29289,11.707085 L2.29289,6.707085 C1.90237,6.316555 1.90237,5.683375 2.29289,5.292875 C2.68342,4.902375 3.31658,4.902375 3.70711,5.292875 L8,9.585765 L12.2929,5.292875 Z"/></svg>') no-repeat calc(100% - 4px) 50%;
  border: 1px solid #bbb;
  transition: outline 0.3s;
}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons button:focus,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons select:focus,
#container .body .bodyCenter .bodyContent form .quickButtonsLine .right_buttons button:focus,
#container .body .bodyCenter .bodyContent form .searchLine_bottom .searchButton:focus,
#container .body .bodyCenter .bodyContent form .searchLine_bottom select:focus,
#container .body .bodyCenter .bodyContent form .searchLine_bottom input:focus {
  outline: 0.15rem solid rgba(100, 200, 250, 0.7);

}

#container .body .bodyCenter .bodyContent form .quickButtonsLine .left_buttons .redBackground:focus {
  outline-color: #ff7989;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .adBox {
  margin: 0.5rem auto;
  max-width: 728;
  height: 90;
  overflow: hidden;
  position: relative;
  padding: 0;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .adBox .imgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .adBox .imgWrapper img {
  width: 100%;
  height: 100%;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: aliceblue;
  margin: 0.5rem 0;
  overflow: hidden;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  background-color: #eee;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .title {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .channelList {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.2rem;
  font-size: 0.8rem;
  align-items: center;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .channelList a {
  text-decoration: none;
  color: black;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .channelList a:hover {
  text-decoration: underline;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .channelList .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .recentChannelList .channelList .imgIcon img {
  width: 100%;
  height: 100%;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .menuIconBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .recentChannelListWrapper .menuIconBox .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .categoryBoxWrapper {
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .categoryBoxWrapper .categoryBox {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: 1px solid #bbb;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .categoryBoxWrapper .categoryBox a {
  color: #777;
  text-decoration: none;
  background-color: white;
  margin: 0 0.2rem;
  font-size: 0.9rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .categoryBoxWrapper .categoryBox a.selected {
  color: black;
  font-weight: bold;
  border: 1px solid #bbb;
  border-bottom: 0;
  padding-bottom: 1px;
  transform: translateY(1px);
}

#container .body .bodyCenter .bodyContent .boardTableListBox .categoryBoxWrapper .categoryBox a .category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox a {
  color: black;
  text-decoration: none;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox a .boardRow:hover {
  background-color: #eee;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow {
  display: flex;
  font-size: 0.9rem;
  min-height: 2.5rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardFieldListBox {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformRow {
  background-color: #eee;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformStretchButton {
  background-color: #eee;
  justify-content: center;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformStretchButton .imgIcon {
  width: 1rem;
  height: 1rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformStretchButton .imgIcon img {
  padding-left: 0.2rem;
  width: 100%;
  height: 100%;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne {
  flex: 1;
  display: flex;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .numberColumn {
  width: 8rem;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformRow .divideLineOne .numberColumn {
  font-weight: bold;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardFieldListBox .divideLineOne .numberColumn {
  text-align: center;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn {
  flex: 1;
  display: flex;
  position: relative;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: left;
  flex-wrap: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent .textWrapper {
  display: flex;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-wrap: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent .textWrapper .blackBox {
  /* width: fit-content; */
  font-size: 0.6rem;
  padding: 0.2rem;
  color: white;
  background-color: #42464f;
  border-radius: 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent .textWrapper .imgIcon {
  display: contents;
  width: 0.8rem;
  height: 0.8rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent .textWrapper .imgIcon img {
  padding: 0 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .titleContent .textWrapper .imgIcon.starIcon img {
  filter: invert(89%) sepia(32%) saturate(3570%) hue-rotate(355deg) brightness(99%) contrast(92%);
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .textWrapper .text {
  overflow: hidden;
  text-overflow: ellipsis;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineOne .titleColumn .commentCountBox {
  padding-left: 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow.boardInformRow .divideLineOne .titleColumn {
  font-weight: bold;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo {
  display: flex;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn {
  display: flex;
  width: 8rem;
  padding: 0.5rem;
  justify-content: left;
  align-items: center;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon {
  width: 0.7rem;
  height: 0.7rem;
  min-width: 0.7rem;
  min-height: 0.7rem;
  margin-left: 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon.checkIcon {
  padding: 0.1rem;
  border-radius: 100%;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon.orangeCheckIcon {
  background-color: #eb6111;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon.blueCheckIcon {
  background-color: #0275d8;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon.greyCheckIcon {
  background-color: #777;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .imgIcon.checkIcon img {
  filter: invert(1);
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .writerColumn .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .right_position {
  display: flex;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .right_position .dataColumn {
  width: 6rem;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .right_position .looksColumn {
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .body .bodyCenter .bodyContent .boardTableListBox .boardTableBox .boardRow .divideLineTwo .right_position .recommendColumn {
  text-align: right;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .body .bodyCenter .bodyContent form .searchLine_bottom {
  display: flex;
  width: 100%;
  justify-content: right;
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent form .searchLine_bottom select {
  width: 6.5rem;
}

#container .body .bodyCenter .bodyContent form .searchLine_bottom input {
  border: 0;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  transition: outline 0.3s;
}

#container .body .bodyCenter .bodyContent form .searchLine_bottom .searchButton {
  padding: 0.35rem;
  background-color: white;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  border: 1px solid #bbb;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 1s, outline 0.3s;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList {
  display: flex;
  width: 80%;
  max-width: 25rem;
  flex-wrap: wrap;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a {
  color: black;
  text-decoration: none;
  flex: 1;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox {
  display: flex;
  height: 2.5rem;
  border: 1px solid #bbb;
  border-right: 0;
  justify-content: center;
  align-items: center;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox:hover {
  background-color: #ddd;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox.selected {
  border: 1px solid #00a495;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox.selectedNext {
  border-left: 0;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a:last-of-type .pageBox {
  border-right: 1px solid #bbb;
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox .imgIcon {
  width: 1rem;
  height: 1rem;
}

#container .body .bodyCenter .bodyContent .quickGoDate {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent .quickGoDate input {
  font-size: 0.85rem;
  border: 1px solid #bbb;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  transition: outline 0.3s;
}

#container .body .bodyCenter .bodyContent .quickGoDate a {
  text-decoration: none;
}

#container .body .bodyCenter .bodyContent .quickGoDate a button {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  font-size: 0.85rem;
  border: 1px solid #bbb;
  border-left: 0;
  background-color: white;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  cursor: pointer;
  transition: background-color 1s, outline 0.3s;
}

#container .body .bodyCenter .bodyContent .quickGoDate a button:hover {
  background-color: #eee;
}

#container .body .bodyCenter .bodyContent .quickGoDate a button:focus,
#container .body .bodyCenter .bodyContent .quickGoDate input:focus {
  outline: 0.15rem solid rgba(100, 200, 250, 0.7);
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox.doubleIcon .imgIcon:first-of-type {
  transform: translateX(0.2rem);
}

#container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox.doubleIcon .imgIcon:last-of-type {
  transform: translateX(-0.2rem);
}

/* #container .body .bodyCenter .bodyContent .pageBoxWrapper .pageBoxList a .pageBox .imgIcon img {
  width: 100%;
  height: 100%;
  object-fit: fill;
} */
#container .body .bodyCenter .informBox {
  width: 300px;
  margin: 0.8rem;
  /* background-color: brown; */
  position: relative;
}

#container .body .bodyCenter .informBox .boardBox,
#container .body .bodyCenter .informBox .stickyBox .newsBox {
  width: 300px;
  min-height: 10rem;
  margin-bottom: 0.8rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid #bbb;
  border-radius: 10px;
}

#container .body .bodyCenter .informBox .boardBox .title,
#container .body .bodyCenter .informBox .stickyBox .newsBox .title {
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
}

#container .body .bodyCenter .informBox .boardBox .content ul,
#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul {
  margin: 0;
  padding: 0;
}

#container .body .bodyCenter .informBox .boardBox .content ul a li,
#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul a li {
  display: flex;
  padding-bottom: 0.2rem;
}

#container .body .bodyCenter .informBox .boardBox .content ul a,
#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul a {
  text-decoration: none;
  color: black;
}

#container .body .bodyCenter .informBox .boardBox .content ul a:hover,
#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul a:hover {
  text-decoration: underline;
}

#container .body .bodyCenter .informBox .boardBox .content ul a li .boardTitle,
#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul a li .boardTitle {
  font-size: 0.9rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  text-decoration: none;
}

#container .body .bodyCenter .informBox .boardBox .content ul a li .boardTitle {
  width: 70%;
}

#container .body .bodyCenter .informBox .stickyBox .newsBox .content ul a li .boardTitle {
  width: 100%;
}

#container .body .bodyCenter .informBox .boardBox .content ul a li .timeBox {
  text-align: center;
  font-size: 0.7rem;
  padding: 0.2rem;
  background-color: #3d414d;
  color: white;
  border-radius: 0.3rem;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}

#container .body .bodyCenter .informBox .stickyBox {
  position: sticky;
  top: 0.8rem;
}

#container .body .bodyCenter .informBox .stickyBox .adBox {
  width: 300px;
  height: 600px;
  /* background-color: black; */
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 575px) {
  #container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button span {
    display: none;
  }

  #container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button {
    margin: 0;
  }

  #container .body .bodyCenter .bodyContent .channelInfoBox .channelInfo .channelPathNButtons .channelButtons button .imgIcon {
    margin: 0;
  }

  #container .body .bodyCenter .bodyContent .boardTableListBox {
    padding-right: 0;
    padding-left: 0;
  }
}

/* @media screen and (max-width: 763px)  */
@media screen and (max-width: 991px) {
  #container .body .bodyCenter .informBox {
    display: none;
  }

  #container .body .bodyCenter .boardsIndex {
    border: none;
    width: 100%;
  }
}

@media screen and (max-width: 1700px) {
  #container .body .left_adBar .left_ad {
    display: none;
  }
}