#body_quickButonsLine_board_bottom {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
}

#container .body .bodyCenter .bodyContent .boardBox {
  padding: 1rem;
  min-height: 30rem;
}

#container .body .bodyCenter .bodyContent .boardBox .title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#container .body .bodyCenter .bodyContent .boardBox .title .titleContent {
  display: flex;
  background-color: #eee;
  font-size: 1.1rem;
  padding: 0.5rem;
  align-items: baseline;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleContent
  .blackBox {
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  background-color: #42464f;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  margin-right: 0.2rem;
}

#container .body .bodyCenter .bodyContent .boardBox .title .titleEtc {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox {
  display: flex;
  background-color: white;
  font-size: 0.8rem;
  align-items: center;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  a {
  color: black;
  text-decoration: none;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  a:hover {
  text-decoration: underline;
}
#container .body .bodyCenter .bodyContent .boardBox .writerFunctionBox {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  justify-content: right;
}
#container .body .bodyCenter .bodyContent .boardBox .writerFunctionBox a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}
#container .body .bodyCenter .bodyContent .boardBox .writerFunctionBox a:hover {
  text-decoration: underline;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .writerFunctionBox
  .writerFunctionButton {
  display: flex;
  font-size: 0.8rem;
  border: 0;
  outline: 0;
  background-color: white;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.1rem 0.5rem;
  align-items: center;
  cursor: pointer;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .writerFunctionBox
  a
  .writerFunctionButton.first {
  border-left: none;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .writerFunctionBox
  .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8rem;
  min-height: 0.8rem;
  margin-left: 0.2rem;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .writerFunctionBox
  .imgIcon
  img {
  width: 100%;
  height: 100%;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8rem;
  min-height: 0.8rem;
  margin-left: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.userProfile {
  width: 1rem;
  height: 1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.checkIcon {
  padding: 0.1rem;
  border-radius: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.orangeCheckIcon {
  background-color: #eb6111;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.blueCheckIcon {
  background-color: #0275d8;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.greyCheckIcon {
  background-color: #777;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon.checkIcon
  img {
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .writerBox
  .imgIcon
  img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line {
  display: flex;
  padding: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox {
  display: flex;
  font-size: 0.8rem;
  border-right: 1px solid black;
  padding: 0 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox:last-child {
  border-right: 0;
  padding-right: 0;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox
  .type {
  font-weight: bold;
  margin-right: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox
  .count {
  display: block;
  background-color: #eee;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox.recommendView
  .count {
  color: #0275d8;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .title
  .titleEtc
  .right_line
  .viewBox.unrecommendView
  .count {
  color: #bf3131;
}

#container .body .bodyCenter .bodyContent .boardBox .linkSite {
  font-size: 0.9rem;
  height: max-content;
  display: flex;
  justify-content: right;
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent .boardBox .linkSite a {
  display: flex;
  width: max-content;
  color: #666;
  text-decoration: none;
  align-items: center;
}

#container .body .bodyCenter .bodyContent .boardBox .linkSite .imgIcon {
  width: 0.8rem;
  min-width: 0.8rem;
  height: 0.8rem;
  min-height: 0.8rem;
}

#container .body .bodyCenter .bodyContent .boardBox .linkSite .imgIcon img {
  width: 100%;
  height: 100%;
}

#container .body .bodyCenter .bodyContent .boardBox .channelImgWrapper {
  max-width: 35rem;
}

#container .body .bodyCenter .bodyContent .boardBox .channelImgWrapper img {
  max-width: 100%;
  max-height: 100%;
}

#container .body .bodyCenter .bodyContent .boardBox .boardContent {
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent .boardBox .recommendButtonLine {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 3rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button {
  font-size: 0.9rem;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  outline: 0;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button::after {
  display: none;
  content: "❌";
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  font-size: 0.3rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button:hover {
  border: 1px solid #007bff;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  div,
#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  small {
  padding: 0.2rem 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  .imgLine {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  .imgLine
  .recommendCount {
  display: inline-block;
  padding-left: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  .imgLine
  .imgIcon {
  display: inline-flex;
  width: 0.8rem;
  min-width: 0.8rem;
  height: 0.8rem;
  min-height: 0.8rem;
  padding: 0.1rem;
  background-color: black;
  border-radius: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .recommendButtonLine
  button
  .imgLine
  .imgIcon
  img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList {
  display: flex;
  justify-content: right;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  column-gap: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  a {
  text-decoration: none;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #bbb;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  transition: background-color 0.3s, border 0.3s, color 0.3s, outline 0.3s;
  cursor: pointer;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  .redBackground {
  color: white;
  background-color: #dc3545;
  outline: 0.15rem solid white;
  border: 1px solid #dc3545;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button:hover {
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button:focus {
  outline: 0.15rem solid rgba(100, 200, 250, 0.7);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button.redBackground:focus {
  outline: 0.15rem solid #ff7989;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  .redBackground:hover {
  color: white;
  background-color: #c82333;
  border: 1px solid #c82333;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button
  .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8rem;
  min-height: 0.8rem;
  margin: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button
  .imgIcon
  img {
  width: 100%;
  height: 100%;
  transition: filter 1s;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button:hover
  .imgIcon
  img {
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .board_buttonList
  button.redBackground
  .imgIcon
  img {
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .left_line {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .left_line
  .imgIcon {
  width: 2rem;
  height: 1.5rem;
  min-width: 2rem;
  min-height: 1.5rem;
  padding-right: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .left_line
  .text {
  padding-right: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .right_line
  a {
  text-decoration: none;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .right_line
  button {
  display: flex;
  width: 4.5rem;
  background-color: white;
  border: 1px solid #bbb;
  outline: 0.15rem solid rgba(100, 200, 250, 0);
  padding: 0.35rem;
  font-size: 0.8rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s, outline 0.3s;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .right_line
  button:hover {
  background-color: #bbb;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .right_line
  button:focus {
  outline: 0.15rem solid rgba(100, 200, 250, 0.7);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .right_line
  .imgIcon {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8rem;
  min-height: 0.8rem;
  margin-right: 0.1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentInfo
  .imgIcon
  img {
  width: 100%;
  height: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox {
  width: 100%;
  padding: 1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox {
  width: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #bbb;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  a {
  text-decoration: none;
  color: black;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  a:hover {
  text-decoration: underline;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.5rem;
  background-color: #eee;
  border-bottom: 1px dashed #bbb;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon {
  min-width: 0.8rem;
  min-height: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon.checkIcon {
  padding: 0.1rem;
  border-radius: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon.orangeCheckIcon {
  background-color: #eb6111;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon.blueCheckIcon {
  background-color: #0275d8;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon.greyCheckIcon {
  background-color: #777;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon
  img {
  width: 100%;
  height: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .imgIcon.checkIcon
  img {
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .writerView {
  display: flex;
  align-items: center;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line {
  display: flex;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox {
  display: flex;
  padding: 0 0.5rem;
  border-right: 1px solid black;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox:last-of-type {
  border-right: 0;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox {
  cursor: pointer;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox:hover {
  text-decoration: underline;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox
  a {
  display: flex;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox.dateView {
  cursor: text;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox.dateView:hover {
  text-decoration: unset;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox.reportButton {
  padding-left: 0;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_top
  .right_line
  .etcBox.alarmButton {
  padding: 0;
  padding-left: 0.1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_content {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: unset;
  word-break: break-all;
  /* white-space: pre-wrap; */
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .commentBoard
  .commentBoard_content
  .remake_inform {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  padding-right: 0.3rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .replyCommentBoardListBox {
  padding-left: 0.5rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .replyCommentBoardListBox
  .replyCommentBoardBox {
  display: flex;
  align-items: flex-start;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .replyCommentBoardListBox
  .replyCommentBoardBox
  .imgIcon.upIcon {
  min-width: 0.8rem;
  min-height: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  padding: 0.1rem;
  background-color: #0275d8;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentBoardListBox
  .commentBoardBox
  .replyCommentBoardListBox
  .replyCommentBoardBox
  .imgIcon.upIcon
  img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox {
  margin-bottom: 1rem;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox.basic {
  margin: 0.5rem 0;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox.commentReplyWritingBox {
  margin-left: 1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .buttonText {
  padding-left: 0.3rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_leftLine {
  display: flex;
  flex: 1;
  font-size: 0.9rem;
  cursor: default;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_leftLine
  .titleText {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_leftLine
  .writerInfoWrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding: 0.5rem 0;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_leftLine
  .writerInfoWrapper
  .writerInfo {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  align-items: center;
  color: #bbb;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_rightLine {
  display: flex;
  align-items: center;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_rightLine
  .etcButton {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 0;
  border-left: 0.15rem solid white;
  border-right: 0.15rem solid white;
  background-color: white;
  outline: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  margin-right: 0.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_rightLine
  .etcButton:hover {
  background-color: #ddd;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .commentWritingBox_rightLine
  .etcButton:focus {
  border-left: 0.15rem solid #0275d8;
  border-right: 0.15rem solid #0275d8;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon {
  width: 1.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
  min-height: 1.2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon.checkIcon {
  padding: 0.1rem;
  border-radius: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon.orangeCheckIcon {
  background-color: #eb6111;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon.blueCheckIcon {
  background-color: #0275d8;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon.greyCheckIcon {
  background-color: #777;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon
  img {
  width: 100%;
  height: 100%;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_top
  .imgIcon.checkIcon
  img {
  filter: invert(1);
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_content {
  position: relative;
  min-height: 2rem;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_content
  .commitButton {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  font-size: 1rem;
  padding: 0.3rem 1.2rem;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_content
  .commitButton:hover {
  background-color: #eee;
}

#container
  .body
  .bodyCenter
  .bodyContent
  .boardBox
  .commentListBox
  .commentWritingBox
  .commentWritingBox_content
  .commentInput {
  width: 100%;
  outline: 0;
  border: 0;
  resize: none;
  overflow: auto;
  min-height: 8rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
  border-radius: 0.3rem;
}

@media screen and (max-width: 575px) {
}

/* @media screen and (max-width: 763px)  */
@media screen and (max-width: 991px) {
}

@media screen and (max-width: 1700px) {
}
