#container .footer {
  min-height: 8rem;
  background-color: #f5f5f5;
  border-top: 1px solid #bbbbbb;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
#container .footer .footerCenter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: baseline;
}
#container .footer .footerCenter .footerLine {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  align-items: baseline;
}
#container .footer .footerCenter .footerLine .divideLine {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.8rem;
}
#container .footer .footerCenter .footerLine .divideLine a {
  color: #007bff;
  text-decoration: none;
}
#container .footer .footerCenter .footerLine .divideLine a:hover {
  text-decoration: underline;
}
#container .footer .footerCenter .footerLine .divideLine.withImg {
  display: inline-flex;
}
#container .footer .footerCenter .footerLine .divideLine .title {
  font-weight: bold;
  font-size: 0.9rem;
}
#container .footer .footerCenter .footerLine .divideLine.iconBox {
  display: inline-flex;
  flex-wrap: nowrap;
}
#container .footer .footerCenter .footerLine .divideLine.iconBox svg {
  width: 3rem;
}
#container .footer .footerCenter .footerLine .divideLine.withImg .imgWrapper {
  width: 1rem;
  height: 1rem;
  padding-left: 0.3rem;
}
#container
  .footer
  .footerCenter
  .footerLine
  .divideLine.withImg
  .imgWrapper
  img {
  width: 100%;
  height: 100%;
}
#container .bottomIconLine {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 0.8rem 1.5rem 0;
}
#container .bottomIconLine .icon {
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  margin-right: 0.3rem;
  background-color: #6c757d;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.8;
}
#container .bottomIconLine .icon:hover {
  background-color: #4c5161;
}
#container .bottomIconLine .icon .iconImg {
  filter: invert(1);
}
@media screen and (max-width: 991px) {
  #container .footer {
    padding-bottom: 3rem;
  }
  #container .footer .footerCenter {
    flex-direction: column;
  }
  #container .footer .footerCenter .footerLine {
    flex-direction: row;
  }
  #container .footer .footerCenter .footerLine .divideLine.withImg {
    padding-left: 0.8rem;
  }
  #container .footer .footerCenter .footerLine .divideLine {
    font-size: 0.6rem;
  }
  #container .footer .footerCenter .footerLine .divideLine .title {
    display: none;
  }
  #container .footer .footerCenter .footerLine .divideLine.iconBox svg {
    width: 1.8rem;
  }
}
