#container .body .left_adBar .left_ad a img {
  width: 100%;
  height: 100%;
}

#container .body .bodyCenter .informBox .stickyBox .adBox .upDownSlide {
  display: flex;
  width: 100%;
  height: 100%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .divideAd {
  position: relative;
  width: 10%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .divideAd
  .adImgBox {
  position: absolute;
  width: 1000%;
  height: 100%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .divideAd
  .adImgBox
  img {
  width: 100%;
  height: 100%;
}

#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adOne
  .adImgBox {
  top: -100%;
  left: 0;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adTwo
  .adImgBox {
  top: -100%;
  left: -100%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adThree
  .adImgBox {
  top: -100%;
  left: -200%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adFour
  .adImgBox {
  top: -100%;
  left: -300%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adFive
  .adImgBox {
  top: -100%;
  left: -400%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adSix
  .adImgBox {
  top: -100%;
  left: -500%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adSeven
  .adImgBox {
  top: -100%;
  left: -600%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adEight
  .adImgBox {
  top: -100%;
  left: -700%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adNine
  .adImgBox {
  top: -100%;
  left: -800%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .upDownSlide
  .adTen
  .adImgBox {
  top: -100%;
  left: -900%;
}
#container .body .bodyCenter .informBox .stickyBox .adBox .basicSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .basicSlide
  .adImgBox {
  display: flex;
  width: 100%;
  height: 100%;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .basicSlide
  .adImgBox
  a
  img {
  width: 300px;
  height: 600px;
}
#container
  .body
  .bodyCenter
  .informBox
  .stickyBox
  .adBox
  .basicSlide
  .adImgBox
  a {
  width: 100%;
  height: 100%;
}
