* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
}

li {
  list-style-type: none;
}

.test {
  background-color: red;
}

form {
  margin: 0;
  padding: 0;
}

.out {
  display: none !important;
}

#container {
  min-width: 20rem;
  width: 100%;
  height: auto;
  /* position: fixed;
  bottom: -300px; */
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox {
  z-index: 1;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox,
#container .top .topMenu .topCenter .topLeft .subscribechannel .channelBox,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelBox {
  z-index: 2;
}

#container .curtain {
  z-index: 3;
}

#container .viewConfigBox,
#container .shortCutHelpBox {
  z-index: 4;
}

#container .curtain {
  /* display: none; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

#container .viewConfigBox,
#container .shortCutHelpBox {
  position: fixed;
  top: 1.5rem;
  background-color: white;
}

#container .shortCutHelpBox {
  left: calc(50% - 15rem);
  min-height: 30rem;
  height: max-content;
  width: 30rem;
}

#container .viewConfigBox {
  left: calc(50% - 15rem);
}

#container .shortCutHelpBox .boxTop {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#container .shortCutHelpBox .boxTop .x_shape {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#container .shortCutHelpBox .boxTop .x_shape:hover {
  color: black;
}

#container .shortCutHelpBox .shortCutContent .siteShortCutSet {
  padding: 1rem;
}

#container .shortCutHelpBox .shortCutContent .siteShortCutSet .shortCutSetTitle {
  font-size: 1.2rem;
}

#container .shortCutHelpBox .shortCutContent .siteShortCutSet ul {
  padding: 0.5rem;
}

#container .shortCutHelpBox .shortCutContent .siteShortCutSet ul li {
  display: flex;
  padding: 0;
}

/* #container . */
#container .top .topMenu {
  display: flex;
  justify-content: center;
  min-height: 3.3rem;
  height: max-content;
  background-color: #3d414d;

  /* padding-bottom: 0.5rem; */
}

#container .top .topMenu .topCenter {
  display: flex;
  width: 80rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
  padding-bottom: 0.2rem;
}

#container .top .topMenu .topCenter .topLeft {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  padding-left: 0.8rem;
}

#container .top .topMenu .topCenter .topRight {
  display: flex;
  width: auto;
  padding-right: 1.3rem;
  align-items: baseline;
}

#container .top .topMenu,
#container .top .topMenu .topCenter .topLeft .subscribechannel,
#container .top .topMenu .topCenter .topLeft .primarychannel,
#container .top .topMenu .topCenter .topLeft .search,
#container .top .topMenu .topCenter .topRight .notification,
#container .top .topMenu .topCenter .topRight .login {
  position: relative;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel,
#container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton,
#container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton .arrowButton,
#container .top .topMenu .topCenter .topLeft .primarychannel,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton .arrowButton,
#container .top .topMenu .topCenter .topLeft .search,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox,
#container .top .topMenu .topCenter .topRight .topEtc,
#container .top .topMenu .topCenter .topRight .notification,
#container .top .topMenu .topCenter .topRight .notification .notification-img,
#container .top .topMenu .topCenter .topRight .login .loginIconBox .personLogin-icon .person-img,
#container .top .topMenu .topCenter .topRight .login {
  display: inline-block;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel,
#container .top .topMenu .topCenter .topLeft .primarychannel {
  padding-left: 1rem;
}

/* #container .top .topMenu .topCenter .topLeft .inline,
#container .top .topMenu .topCenter .topRight .inline {
  display: inline-block;
} */
#container .top .topMenu .topCenter .topLeft .logo-img {
  width: auto;
  height: auto;
}

#container .top .topMenu .topCenter .topLeft .logo-img img {
  width: 1.7rem;
  height: 1.7rem;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelBox,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelBox {
  position: absolute;
  top: 1.16rem;
  /* right: 0;
  bottom: 0; */
  left: 0.3rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  /* 임시 */
  /* width: 13rem; */
  min-width: max-content;
  height: fit-content;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelBox .channelAreaLiner,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelBox .channelAreaLiner,
#container .top .topMenu .topCenter .topRight .login .userInfoBox .userInfoListLiner {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelBox .channelList a,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelBox .channelList a,
#container .top .topMenu .topCenter .topRight .login .userInfoBox .userName,
#container .top .topMenu .topCenter .topRight .login .userInfoBox .userPoint,
#container .top .topMenu .topCenter .topRight .login .userInfoBox .userInfoList a {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 1.5rem;
  font-size: 0.9rem;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
  width: 100%;
  text-decoration: none;
  color: black;
  word-break: keep-all;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelBox .channelList a:hover,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelBox .channelList a:hover,
#container .top .topMenu .topCenter .topRight .login .userInfoBox .userInfoList a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#container .top .topMenu .topCenter .topLeft span {
  font-size: 0.92rem;
  color: white;
}

#container .top .topMenu .topCenter .topRight .topEtc {
  padding-right: 0.8rem;
}

#container .top .topMenu .topCenter .topRight .topEtc a {
  display: inline-block;
  font-size: 0.92rem;
  padding: 0rem 0rem 0rem 0.8rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton .arrowButton::after,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton .arrowButton::after {
  display: inline-block;
  content: "";
  height: 0;
  width: 0;
  border: 0.3rem solid white;
  margin-left: 0.2rem;
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
}

#container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton,
#container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton {
  cursor: pointer;
}

#container .top .topMenu .topCenter .topLeft .search {
  flex: 1;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox {
  margin-left: 1.5rem;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox .search-img {
  position: absolute;
  top: 0.5rem;
  /* right: 0;
  bottom: 0; */
  left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox .search-img img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox input {
  height: 2.3rem;
  font-size: 1rem;
  width: 100%;
  max-width: 19rem;
  padding: 0;
  padding-left: 2.5rem;
  border: 0;
  margin: 0;
  /* margin-bottom: 0.1rem; */
  color: white;
  background-color: black;
  outline: none;
  border: 0.2rem solid #3d414d;
  border-radius: 0.35rem;
  font-size: 0.9rem;
  font-weight: 500;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox input:focus {
  border: 0.2rem solid rgba(100, 200, 250, 0.4);
  transition: 0.15s border;
}

#container .top .topMenu .topCenter .topLeft .search .searchIconBox input::placeholder {
  color: white;
  font-size: 0.9rem;
}

#container .top .topMenu .topCenter .topLeft .search .searchMiniBox {
  display: none;
  position: relative;
  margin-left: 0.5rem;
  padding-left: 1rem;
  width: auto;
}

#container .top .topMenu .topCenter .topLeft .search .searchMiniBox .search-img {
  position: absolute;
  top: 0;
  /* right: 0;
  bottom: 0; */
  left: 0rem;
  width: 1rem;
  height: 1rem;
}

#container .top .topMenu .topCenter .topLeft .search .searchMiniBox .search-img img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox {
  max-width: 19rem;
  position: absolute;
  top: calc(100% - 0.2rem);
  right: 0;
  /* bottom: 0; */
  left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0;
  border-radius: 0.35rem;
  border: 1px solid #3d414d;
  height: fit-content;
  background-color: white;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelcloseButtonLine {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  width: 100%;
  color: black;
  height: 2rem;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList .loading {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 0.3rem solid #4c5161;
  border-radius: 100%;
  animation-name: searchLoading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList .loading .loadingWhite {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.4rem solid transparent;
  transform: translate(-0.6rem, -0.6rem);
  background-color: white;
}

@keyframes searchLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .bottomchannelLiner {
  width: auto;
  height: auto;
  border-top: 1px solid #4c5161;
  margin-top: 0.6rem;
  padding-top: 0.6rem;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList.loadingBox:hover {
  background-color: unset;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList:hover,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList .no-search,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine a {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  font-size: 0.9rem;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine a {
  text-decoration: none;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList .no-search {
  color: rgba(0, 0, 0, 0.3);
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a .logo {
  width: 1.8rem;
  height: 1.8rem;
  padding-right: 0.5rem;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a .playImg {
  width: 1.2rem;
  height: 1.2rem;
  float: right;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelList a span,
#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine a {
  font-size: 0.9rem;
  flex: 1;
  color: black;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelSearchButtonLine a span {
  color: black;
  font-weight: bold;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelcloseButtonLine {
  display: flex;
  justify-content: right;
}

#container .top .topMenu .topCenter .topLeft .search .channelSearchBox .channelcloseButtonLine #channelSearchCloseButton {
  display: inline-block;
  height: 100%;
  padding: 0.3rem;
  color: #4c5161;
  font-size: 0.9rem;
  cursor: pointer;
}

#container .top .topMenu .topCenter .topRight .notification {
  margin-right: 1rem;
}

#container .top .topMenu .topCenter .topRight .notification .notification-img img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  filter: invert(1);
  cursor: pointer;
}

#container .top .topMenu .topCenter .topRight .notification .notification-img::after {
  position: absolute;
  cursor: pointer;
  content: "";
  top: -0.05rem;
  right: -0.1rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: red;
  border-radius: 100%;
  /* display: none; */
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox {
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  padding-top: 0.1rem;
  width: 17rem;
  height: fit-content;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificationBellTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 0.7rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificationBellTitle .readAllButton {
  width: fit-content;
  height: 1.6rem;
  font-size: 0.7rem;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.58);
  outline: 0;
  border: 0.15rem solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificationBellTitle .readAllButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificationBellTitle .readAllButton:focus {
  border: 0.15rem solid #bbbbbb;
  background-color: rgba(0, 0, 0, 0.6);
  transition: border 0.3s;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificationBellTitle .readAllButton:active {
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.1s;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages {
  width: 17rem;
  height: 13rem;
  overflow-y: scroll;
  transform: translateX(-2px);
  margin: 0.5rem 0;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages .newLink,
#container .top .topMenu .topCenter .topRight .notification .notificationBox .allLook {
  height: fit-content;
  font-size: 1rem;
  word-break: break-all;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .allLook {
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages .newLink a,
#container .top .topMenu .topCenter .topRight .notification .notificationBox .allLook a {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages .newLink a {
  display: inline-block;
  padding: 0rem 1rem 1rem 1rem;
  width: 100%;
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages .newLink a.grey {
  color: rgba(189, 174, 174, 0.253);
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .notificatetionMessages .newLink a:visited {
  color: rgba(189, 174, 174, 0.651);
}

#container .top .topMenu .topCenter .topRight .notification .notificationBox .allLook a:hover {
  text-decoration: underline;
}

#container .top .topMenu .topCenter .topRight .login .loginIconBox {
  cursor: pointer;
}

#container .top .topMenu .topCenter .topRight .login .loginIconBox .userName-login {
  display: inline-block;
  color: white;
  font-size: 1.1rem;
}

#container .top .topMenu .topCenter .topRight .login .loginIconBox .personLogin-icon .person-img img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  filter: invert(1);
}

#container .top .topMenu .topCenter .topRight .login .userInfoBox {
  position: absolute;
  top: 1.5rem;
  right: -0.8rem;
  /* left: 100; */
  background-color: white;
  padding-bottom: 0.3rem;
  width: 100%;
  min-width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3%;
  height: fit-content;
}

#container .top .topMenu .topCenter .topRight .login .userInfoBox .userName {
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#container .top .topMenu .topCenter .topRight .login .userInfoBox .userName a {
  text-decoration: none;
}

#container .top .topMenu .topCenter .topRight .login .userInfoBox .userName a span {
  color: black;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#container .top .topMenu .topCenter .topRight .login .userInfoBox .userName a span:hover {
  text-decoration: underline;
}

#container .top .subTopSearchBox {
  height: 2.5rem;
  position: relative;
}

#container .top .subTopSearchBox input {
  padding-left: 2.5rem;
  font-size: 0.92rem;
  color: white;
}

#container .top .subTopSearchBox input::placeholder {
  color: white;
}

#container .top .subTopSearchBox .search-img {
  position: absolute;
  top: 0.5rem;
  /* right: 0;
  bottom: 0; */
  left: 0.8rem;
  width: 1.3rem;
  height: 1.3rem;
}

#container .top .subTopSearchBox .search-img img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}

#container .top .subTopSearchBox input {
  height: 100%;
  width: 100%;
  outline: 0;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid #3d414d;
  background-color: #3d414d;
  transition: 0.15s border;
}

#container .top .subTopSearchBox input:focus {
  border-top: 0.1rem solid rgba(100, 200, 250, 0.7);
  border-bottom: 0.1rem solid rgba(100, 200, 250, 0.4);
}

#container .top .subTop {
  height: 1.5rem;
  width: 100%;
  /* display: none !important; */
  background-color: #4c5161;
  justify-content: left;
  align-items: center;
}

#container .top .subTop .newsIcon {
  font-size: 0.7rem;
  display: inline-block;
  background-color: #3d414d;
  margin-left: 0.3rem;
  padding: 0.1rem 0.4rem;
  padding-left: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  font-weight: 500;
}

#container .top .subTop .newsTitle {
  display: inline-block;
  padding-left: 0.1rem;
}

#container .top .subTop .newsTitle a {
  font-size: 0.7rem;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

#container .top .subTop .newsTitle a:hover {
  text-decoration: underline;
}

#container .body {
  height: 130rem;
  margin: auto;
}

#container .body .bodyCenter {
  display: flex;
  height: 100%;
  /* flex: 1; */
  /* justify-content: center; */
}

#container .body .bodyCenter .bodyWidthBox {
  display: flex;
  width: 100%;
}

#container .body .bodyCenter .left-adBar,
#container .body .bodyCenter .rightEndBlock {
  flex: 1;
  display: flex;
  justify-content: right;
  /* background-color: yellow; */
  /* max-width: 10rem;
  height: 20rem;
  background-color: blue; */
}

/* #container .body .bodyCenter .left-adBar {
  width: auto; */
/* background-color: blue; */
/* background-color: brown;
} */
#container .body .bodyCenter .left-adBar .left-ad {
  width: 160px;
  height: 600px;
  background-color: red;
  margin: 1rem;
}

#container .body .bodyCenter .bodyWidthBox .boardsIndex {
  width: 60%;
  height: 100%;
  background-color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

#container .body .bodyCenter .bodyWidthBox .informBox {
  flex: 1;
  margin-left: 0.8rem;
  /* margin-right: 11rem; */
  /* margin: 0 0.5rem 0 0.8rem; */
  background-color: brown;
}

#container .body .bodyCenter .bodyWidthBox .informBox .temporaryContent {
  width: 300px;
  height: 180px;
  background-color: red;
}

#container .footer {
  height: 8rem;
  background-color: #f5f5f5;
  border-top: 1px solid #bbbbbb;
}

@media screen and (max-width: 575px) {

  #container .viewConfigBox,
  #container .shortCutHelpBox {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 95%;
    background-color: white;
  }

  #container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton .arrowButton::after,
  #container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton .arrowButton::after {
    display: none;
  }

  #container .top .topMenu .topCenter .topLeft .search .searchIconBox {
    display: none;
  }

  #container .top .topMenu .topCenter .topLeft .search .searchMiniBox {
    display: inline-block;
  }

  #container .top .topMenu .topCenter .topLeft .search .channelSearchBox {
    width: 100%;
    max-width: unset;
    position: absolute;
    top: calc(100% + 2rem);
    /* right: 0; */
    /* bottom: 0; */
    left: 0;
    border-radius: unset;
    border: none;
    box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.199);
  }

  #container .top .topMenu .topCenter .topLeft .search .channelSearchBox .bottomchannelLiner {
    display: none;
  }

  #container .top .topMenu .topCenter .topLeft .search {
    position: unset;
  }

  #container .top .topMenu .topCenter .topRight .login .loginIconBox .userName-login {
    display: none;
  }

  #container .top .topMenu .topCenter .topLeft .subscribechannel,
  #container .top .topMenu .topCenter .topLeft .primarychannel {
    padding-left: 0.8rem;
  }

  #container .top .topMenu .topCenter .topRight .topEtc .new {
    display: none;
  }
}

@media screen and (max-width: 763px) {

  #container .top .topMenu .topCenter .topLeft .subscribechannel .channelSelectorButton .topchannel,
  #container .top .topMenu .topCenter .topLeft .primarychannel .channelSelectorButton .topchannel {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  #container .body .bodyCenter .bodyWidthBox .informBox {
    display: none;
  }

  #container .body .bodyCenter .bodyWidthBox .boardsIndex {
    border: none;
    width: 100%;
  }

  #container .top .subTop {
    display: flex;
  }
}

@media screen and (max-width: 1700px) {
  #container .body .bodyCenter .left-adBar .left-ad {
    display: none;
  }
}