#container .body .bodyCenter .bodyContent form fieldset {
  border: 1px solid blue;
  padding: 0;
}
#container .body .bodyCenter .bodyContent .functionButtonLine {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}
#container .body .bodyCenter .bodyContent .titleLine {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

#container .body .bodyCenter .bodyContent .inputLine {
  display: flex;
  width: 100%;
  margin: auto;
}

#container .body .bodyCenter .bodyContent .inputLine .divideLine {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#container .body .bodyCenter .bodyContent .inputLine .divideLine label {
  font-size: 1.2rem;
  padding-right: 1rem;
}
#container .body .bodyCenter .bodyContent .textAreaBox {
  padding: 1rem;
}
#container .body .bodyCenter .bodyContent .textAreaBox .adminTextArea {
  width: 100%;
  word-break: break-all;
  overflow-y: auto;
  resize: vertical;
  min-height: 30rem;
  font-size: 1rem;
  padding: 0.5rem;
}
#container .body .bodyCenter .bodyContent .textAreaBox.boardPlaceholder {
  padding: 0.5rem;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .textAreaBox.commentPlaceholder
  .adminTextArea {
  min-height: 8rem;
}
#container
  .body
  .bodyCenter
  .bodyContent
  .textAreaBox.description
  .adminTextArea {
  font-size: 0.9rem;
  min-height: 3rem;
}
/* writePlaceholder,commentPlaceholder
description,iconPath,imgPath */
